/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
    font-family: Lato;
}

:root{
    --preto: black;
    --verde-main: #6FDC3D;
    --verde: #4BBD54;
    --verde-opaco: #38A45B;
    --azul-escuro: #070626;
}

header nav #titulo{
    text-decoration: none;
    font-size: 1.7rem;
}

.ifpr_logo{
    width: 55px;
    height: 55px;
}

.home{
    display:inline-block;
}

.home img{
    right: 0;
    margin-right: 7%;
    width: 30%;
    height: 70%;
    transition: 2s ease;
    position: absolute;
    border-radius: 40%;
}

.home h1{
    font-size: 5rem;
    margin-top: 10%;
    margin-left: 7%;
    position: absolute;
}

.home h3{
    font-size: 2rem;
    margin-top: 17%;
    margin-left: 7%;
    position: absolute;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.body-page{
    margin-top: 40%;
    text-align: center;
    animation: fadeIn 2.5s ease-in-out;
}

.body-page label{
    font-size: 3rem;
}

.cards{
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-top: 7%;
    transition:3s ease;
}

.cards .novidades{
    display: inline-block;
    background: var(--azul-escuro);
    width: 320px;
    height: 320px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cards .novidades h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
}

.cards .novidades label{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.1rem;
}


